script.
    var selectMovie = function(index) {
        window.socket.emit('input', 'Select ' + index.toString());
    };

table
    thead
        tr
            th(style="width:2%;padding: 2px 5px;")
            th(style="width:15%;text-align:center;padding: 2px 5px;") Year
            th(style="width:53%;padding: 2px 5px;") Title
            th(style="width:30%;padding: 2px 5px;") Rating
    tbody
        - for (var i = 0; i < list.length; i++)
            - var movie = list[i]
            tr(onclick="selectMovie(#{i + 1})")
                td(style="padding: 2px 5px;") #{i + 1}
                td(style="padding: 2px 5px;text-align:center;") #{movie.year}
                td(style="padding: 2px 5px;") #{movie.title}
                td(style="padding: 2px 5px;")
                    | #{movie.imdb.rating}/10 
                    small (#{movie.imdb.votes})
        tr
            td(colspan=2, style="text-align:right;padding: 2px 5px;") 
                bold Total
            td(style="padding: 2px 5px;") #{list.length}
