script.
    var markDone = function(index, cb) {
        cb.disabled = true;
        var row = $(cb).parent().parent();
        row.css({
            'color': '#939393',
            'text-decoration': 'line-through'
        });
        var total = row.parent().find('#total strong');
        setTimeout(function() {
            row.css('display', 'none');
            var tot = +(total.text());
            total.text(--tot);
        }, 1000);
        index++;
        window.socket.emit('input', 'Mark ' + getGetOrdinal(index) + ' as done');
    };
    function getGetOrdinal(n) {
       var s=["th","st","nd","rd"],
           v=n%100;
       return n+(s[(v-20)%10]||s[v]||s[0]);
    }

table
    thead
        tr
            th(style="width:5%;")
            th(style="width:20%;") Due to
            th(style="width:75%;") Task
    tbody
        - for (var i = 0; i < list.length; i++)
            - var task = list[i]
            tr
                td 
                    input(type="checkbox", style="margin:0;height:15px;width:15px;vertical-align: middle;",onclick="markDone(#{i}, this)")

                td 
                    if task.isOverdue
                        span.text-red #{task.datetime}
                    else
                        span.text-green #{task.datetime}

                td #{task.content}
        tr
            td(colspan=2, style="text-align:right;") 
                strong Total
            td#total 
                strong #{list.length}
